@import url("https://fonts.googleapis.com/css?family=Anton|Montserrat,400|700");

:root {
  --dark-green: #0e4f1f;
  --highlight-color: #ff1b68;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 3.5rem;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100%;
    padding-top: 0;
  }
}

main {
  grid-area: main;
}

body::-webkit-scrollbar {
  width: 0;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms linear;
}

.main-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2ddf5c;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.5rem 0;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;

  /* display: inline-block;
  vertical-align: middle; */
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

/* select the first child div element (and subsequent child div elements of that div) */
/* .main-header > div {
  display: inline-block;
  vertical-align: middle;
} */

.main-nav {
  display: none;
}

.main-nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__items a {
  color: var(--dark-green, #0e4f1f);
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta {
  animation: wiggle 400ms 3s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: var(--highlight-color, #ff1b68);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: var(--highlight-color);
  background: white;
  border: none;
}

.mobile-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 250ms ease-out;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background-color: var(--dark-green);
  color: white;
  font: inherit;
  font-weight: bold;
  padding: 1rem;
  border: 1.5px solid var(--dark-green);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: var(--dark-green);
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: grey;
  color: #a1a1a1;
  opacity: 0.75;
}

.main-footer {
  background-color: black;
  padding: 2rem;
  margin-top: 3rem;
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0rem;
}

.main-footer__link > a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .main-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main-footer__link {
    margin: 0 1rem;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}
